<ion-view view-title="Login">
  <ion-content id="login">
    <h4 id="loginText">If you have an existing account please login below, otherwise <a class="link calm" ng-click="signup()">sign up here.</a></h4>
    <div>
      <form ng-hide="authData" ng-submit="doLogin(loginData)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="loginData.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>
          <label class="item">
            <button class="col button login button-calm icon-left ion-log-in" type="submit">Log in</button>
          </label>
        </div>
      </form>
      <div class="login-error" ng-show="nope">
        <h3 >Please Recheck Your Login Info</h3>
      </div>
      <h4 id="googleLoginText" style="text-align: center">If you prefer you may login with Google</h4>
      <div ng-hide="authData">
        <div class="row">
          <button ng-click="gLogin()" class="col button login button-positive icon-left ion-social-google ">
            Google
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
