<ion-view view-title="Login/Logout">
  <ion-content id="login">
    <div>
      <form ng-hide="authData" ng-submit="doLogin(loginData)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="loginData.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>
          <label class="item">
            <button class="col button home button-calm icon-left ion-log-in" type="submit">Log in</button>
          </label>
        </div>
      </form>
      <div ng-hide="authData">
        <div class="row">
          <div class="col col-offset-50">OR</div>
        </div>
        <div class="row">
          <button ng-click="gLogin()" class="col button home button-positive icon-left ion-social-google ">
            Log In with Google
          </button>
        </div>
        <div class="row">
          <div class="col col-offset-50">OR</div>
        </div>
        <div class="row">
          <button  ng-click="signup()" class="col button home button-royal icon-left ion-person-add">
            Sign Up
          </button>
        </div>
      </div>
    </div>

    <button ng-hide="!authData" class="col button home icon-left ion-log-out button-assertive" ng-click="doLogOut()">Log Out</button>

  </ion-content>
</ion-view>
