<ion-view view-title="View Past Reports">

  <ion-content>
    <ion-spinner ng-hide="dates" icon="spiral"></ion-spinner>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Tank</div>
        <select name="tankSelect" id="tankSelect"
                ng-options="tank.name for tank in tanks track by tank.$id"
                ng-model="data.tankSelect"></select>
      </label>
    </div>
    <div class="list" ng-hide="tank">
      <label class="item item-input item-select">
        <div class="input-label">
          Date
        </div>
       <select ng-disabled="!data.tankSelect" name="dateSelect" id="dateSelect" ng-model="data.dateSelect">
         <option type="date" value="{{date.time}}"  ng-repeat="date in dates | filter: {tank: data.tankSelect.$id} || {tank: true}">{{date.time | date:'yyyy-MM-dd HH:mm' }}</option>
       </select>
      </label>
    </div>
    <button class="button button-full button-positive" ng-disabled="!data.dateSelect || !data.tankSelect" ng-click="getReport(data.tankSelect, data.dateSelect)">
      Get Report
    </button>

    <div class="row" ng-repeat="tests in report">
      <div class="col col-33"><h4>{{tests.test}}</h4></div>
      <div class="col col-33 col-offset-33"><h4>{{tests.val}}</h4></div>
    </div>

  </ion-content>

</ion-view>
