<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">SignUp</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignUp()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="newUserSubmit(newUser)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="newUser.username" placeholder="Enter User Name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="newUser.email" placeholder="Enter Email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="newUser.password" placeholder="Enter Password">
        </label>
        <label class="item item-input">
          <span class="input-label">Reenter PW</span>
          <input  type="password" ng-model="newUser.passwordRe" placeholder="Reenter Password">
        </label>
        <div ng-show="mismatch" class="card">
          <div class="item item-text-wrap" style="color:darkred;">
            Oops Something is Wrong. Please Reenter.
          </div>
        </div>
        <label class="item">
          <button class="button button-block button-calm" type="submit">Sign On Up</button>
        </label>
      </div>
    </form>



  </ion-content>
</ion-modal-view>
