<ion-view view-title="Sign Up">
  <ion-content>
    <form ng-submit="newUserSubmit(newUser)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="newUser.email" placeholder="Enter Email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="newUser.password" placeholder="Choose Password">
        </label>
        <label class="item item-input">
          <span class="input-label">Verify</span>
          <input  type="password" ng-model="newUser.passwordRe" placeholder="Verify Password">
        </label>

        <div ng-show="mismatch" class="card">
          <div class="item item-text-wrap" style="color:darkred;">
            Oops Something is Wrong. Please Try Again!
          </div>
        </div>

        <label class="item">
          <button class="button button-block button-calm login" type="submit">Sign On Up</button>
        </label>
      </div>
    </form>



  </ion-content>
</ion-view>
