<ion-view view-title="summary">

  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Test
        </div>
        <select name="testSelect" id="testSelect" ng-model="data.testSelect">
          <option type="date" value="{{test.type}}" ng-repeat="test in testTypes" >{{test.type}}</option>
        </select>

      </label>

    </div>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Fish
        </div>
        <select name="fishSelect" id="fishSelect" ng-model="data.fishSelect">
          <option ng-repeat="fish in fishes" ng-model="selectedFish">{{fish}}</option>
        </select>

      </label>

    </div>

    <button class="button button-full button-positive" ng-click="summarize(data.fishSelect, data.testSelect)">
      Get Summary
    </button>


    <nvd3 class="padding" options="options" data="data"></nvd3>
  </ion-content>

</ion-view>
